#p1 {
    text-align: center;
    color: purple;
}

#p2 {
    text-align: center;
    color: blueviolet;
}

#p3 {
    text-align: center;
    color: red;
}

body {
    margin: 0;
    padding: 0;
    background-color: darkseagreen;
    color: #333;
    font-family: Arial, sans-serif;
}

#sub1 {
    background-color: red;
    padding: 20px;
    0 border-radius: 5px;
    margin: 20px;
}

#sub2 {
    background-color: green;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}